.about {

    margin: 1rem;


    .container-about {
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 62.5rem;
        height: 90vh;
        margin-bottom: 15rem;
        text-align: center;
        margin: 1rem auto;
    }
}