.favourites-noFav-title {
    text-align: center;
    height: 50vh;
    margin-top: 5rem;
}

.favourites-title {
    text-align: center;
    margin-top: 5rem;
}


.favourites-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 62.5rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;

    .movie {
        border-radius: 1rem;
        box-shadow: 5px 5px 15px #000;
        margin: 10px;
        position: relative;

        transition: transform 0.2s;
        cursor: pointer;
        width: 300px;

        .caption {
            padding: 1rem;
        }

        img {
            width: 300px;
            height: auto;
            border-radius: 1rem 1rem 0 0;
        }

        .favourite-button {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}