.favourites-noFav-title {
    text-align: center;
    height: 50vh;
    margin-top: 5rem;
}

.favourites-title {
    text-align: center;
    margin-top: 5rem;
}


.favourites-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 62.5rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;

    .movie {
        border-radius: 1rem;
        box-shadow: 5px 5px 15px #000;
        margin: 10px;
        position: relative;

        transition: transform 0.2s;
        cursor: pointer;
        width: 300px;

        a {
            text-decoration: none;
        }

        .caption {
            padding: 1rem;
        }

        img {
            width: 300px;
            height: auto;
            border-radius: 1rem 1rem 0 0;
        }

        .favourite-button {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 30px;
                height: auto;
                border-radius: 0;
            }
        }
    }
}

@media (min-width: 43.75em) {
    .favourites-container {

        .movie {
            background: currentColor;
            .caption {
                display: none;
            }

            img {
                border-radius: 1rem
            }

            .favourite-button {
                display: none;
            }
        }

        .movie:hover {
            .caption {
                display: block;
                position: absolute;
                bottom: 0;
                z-index: 10;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8029805672268908) 80%, rgba(0,0,0,0) 100%);
                border-radius: 0 0 1rem 1rem;
            }

            .favourite-button {
                display: flex;
            }

            .movie-poster {
                transform: translateY(-20px);
            }
        }
    }
}
